.user-image {
	text-align: center;
	margin: 0 auto 35px auto;
}

.user-image label {
	display: block;
}

.loading {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	text-align: center;
	display: none;
}

.loading h2 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 30px;
}

.loading .fa {
	font-size: 3em;
	color: #fff;
}

.loading .message {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 200px;
}